.input-wrapper {
    margin-top: 3rem;
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    div {
        display: flex;
        flex-direction: column;
        position: relative;
        input {
                border: 1px solid black;
                background: #F6F850;
                outline: none;
                padding: 0.6rem;
                box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
        }
        .search-icon {
            font-size: 1.2rem;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(-20%, -20%);
        }
    }

}